{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
    {% include "_partials/_map_includes.html" %}
    <style>
        #map {
            height: 400px;
        }
    </style>
{% endblock %}

{% block page_content %}
{% crispy form %}
{% endblock %}

{% block map_js %}
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>
<script>
    var map = new L.Map("map", {
        center: new L.LatLng(21.505, -0.09),
        zoom: 13
    });

    var stamenLayer = new L.StamenTileLayer("watercolor", {attribution: ''}),
        osmUrl = "http://otile{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
        osmOptions = {subdomains: "1234"},
        osmLayer = new L.TileLayer(osmUrl, osmOptions),
        baseMaps = {
            "Watercolor": stamenLayer,
            "Standard": osmLayer
        },
        layersControl = new L.Control.Layers(baseMaps);

    map.addLayer(osmLayer).addLayer(stamenLayer).addControl(layersControl);
</script>
{% endblock %}

{% block extra_js %}
<script>
    var lat = parseFloat($("#id_latitude").val()) || '',
        lng = parseFloat($("#id_longitude").val()) || '',
        marker = new L.Marker(new L.LatLng(0, 0), {draggable: true});

    marker.on("dragend", function(e) {
        update_coords(e.target);
    });

    var update_coords = function(marker) {
        var latlng = marker.getLatLng();

        $("#id_latitude").val(latlng.lat);
        $("#id_longitude").val(latlng.lng);
    }

    if (lat === '' || lng === '') {
        map.locateAndSetView(13);

        map.on("locationfound", function(e) {
            marker.setLatLng(e.latlng);
            map.addLayer(marker);
            update_coords(marker);
        });
    } else {
        var latlng = new L.LatLng(lat, lng);
        marker.setLatLng(latlng);

        map.addLayer(marker).setView(latlng, 13);
    }
</script>
{% endblock %}
