{% extends "carrier_pigeon/base.html" %}

{% block page_header %}
    {{ block.super }}
    <h2>{{ headline }}</h2>
{% endblock %}

{% block page_content %}
<dl>
    <dt>From</dt>
    <dd>{% firstof object.sender.get_full_name object.sender.username object.anonymous_message_display %}</dd>
    <dt>Date Sent</dt>
    <dd><time datetime="{{ object.sent_at }}">{{ object.sent_at }}</time></dd>
    <dt>Date Read</dt>
    <dd><time datetime="{{ object.read_at }}">{{ object.read_at }}</time></dd>
    {% if object.replied_at %}
    <dt>Date Replied</dt>
    <dd><time datetime="{{ object.replied_at }}">{{ object.replied_at }}</time></dd>
    {% endif %}
</dl>

{{ message.body }}
{% endblock %}
