{% extends "carrier_pigeon/base.html" %}
{% load humanize %}

{% block page_header %}
    {{ block.super }}
    <h2>{{ object.subject }}</h2>
{% endblock %}

{% block page_content %}
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>From</th>
            <td colspan="3">
                {% if object.sender %}<a href="{% url profile:detail object.sender.username %}">{% endif %}
                {% firstof object.sender.first_name object.sender.username object.anonymous_message_display %}
                {% if object.sender %}</a>{% endif %}
            </td>
        </tr>
        <tr>
            <th>Date Sent</th>
            <td><time datetime="{{ object.send_at }}">{{ object.sent_at|naturalday }}, {{ object.sent_at|naturaltime }}</time></td>
            <th>Date Read</th>
            <td><time datetime="{{ object.read_at }}">{{ object.read_at|naturalday }}, {{ object.read_at|naturaltime }}</time></td>
        </tr>
        <tr>
            <th>Message</th>
            <td colspan="3">{{ message.body }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
