{% extends "carrier_pigeon/base.html" %}
{% load tz %}

{% block page_header %}
	{{ block.super }}
	<h2>{{ headline }}</h2>
{% endblock %}


{% block page_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="messages-from">From</th>
            <th class="messages-subject">Subject</th>
            <th class="messages-date-received">Date Received</th>
            <th class="messages-date-read">Date Read</th>
            <th class="messages-tools"></th>
        </tr>
    </thead>
    <tbody>
        {% for message in object_list %}
        <tr>
            <td class="messages-from">
                {% if message.sender %}<a href="{% url profile:detail message.sender.username %}">{% endif %}
                {% firstof message.sender.first_name message.sender.username message.anonymous_message_display %}
                {% if message.sender %}</a>{% endif %}
            </td>
            <td class="messages-subject"><a href="{% url pigeon:detail message.pk %}">{{ message.subject|truncatewords:15 }}</a></td>
            <td class="messages-date-received"><time datetime="{{ message.sent_at }}">{{ message.sent_at }}</time></td>
            <td class="messages-date-read"><time datetime="{{ message.read_at|default:"" }}">{{ message.read_at|default:"" }}</time></td>
            <td class="messages-tools">
                {% if not message.recipient_archived %}
                <a href="{% url pigeon:action_archive message.pk %}" class="btn"><i class="icon-download-alt"></i></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No messages yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "_partials/_pagination.html" %}
{% endblock %}
