{% extends "carrier_pigeon/base.html" %}
{% load tz %}

{% block page_content %}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="messages-from">From</th>
            <th class="messages-subject">Subject</th>
            <th class="messagse-date">Date Sent</th>
            <th class="messages-tools"></th>
        </tr>
    </thead>
    <tbody>
        {% for message in object_list %}
        <tr>
            <td class="messages-from">{% firstof message.sender.get_full_name message.sender.username message.anonymous_message_display %}</td>
            <td class="messages-subject">{{ message.subject|truncatewords:15 }}</td>
            <td class="messages-date"><time datetime="{{ message.sent_at }}">{{ message.sent_at }}</time></td>
            <td class="messages-tools"></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No messages yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
