@import "variables";
@import "mixins";

/* CUSTOM COLORS */
/* colors from http://www.colourlovers.com/palette/1236225/0011 */
@vintageRed: rgba(227, 49, 13, 1);
@vintageBlue: rgba(62, 160, 192, 1);
@vintageCream: rgba(241, 228, 191, 1);

html, body {
    background: @grayDarker;
    color: @white;
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 40px;
}
