{% extends "_layouts/map.html" %}
{% load crispy_forms_tags gravatar %}

{% block home_nav_class %}active{% endblock %}

{% block page_header %}
    <h1>Search</h>
{% endblock %}

{% block page_content %}
<div class="row-fluid">
    <div class="span3">
        {% crispy form %}
    </div>
    {% if object_list %}
    <div class="span9" id="searchResults">
        <div class="btn-toolbar">
            <ul class="btn-group sort-by" data-toggle="buttons-radio">
                <li class="sort btn active" data-sort="distance" data-close="true">Near</li>
                <li class="sort btn" data-sort="distance" data-close="false">Far</li>
            </ul>
            <ul class="btn-group filter-availability" data-toggle="buttons-radio">
                <li class="btn active" data-filter="filter-none" data-value="">All</li>
                <li class="btn" data-filter="filter-freelance" data-value="1">Freelance</li>
                <li class="btn" data-filter="filter-fulltime" data-value="2">Full time</li>
                <li class="btn" data-filter="filter-anything" data-value="3">Anything</li>
                <li class="btn" data-filter="filter-nothing" data-value="0">Friends</li>
            </ul>
        </div>

        <ul class="unstyled list">
        {% for profile in object_list %}
            {% include "generic/_result.html" %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% include "_partials/_pagination.html" %}
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/list.min.js"></script>
<script src="{{ STATIC_URL }}search.js"></script>
{% endblock %}
