{% extends "_layouts/map.html" %}
{% load crispy_forms_tags gravatar %}

{% block home_nav_class %}active{% endblock %}

{% block page_header %}
    <h1>Search</h>
{% endblock %}

{% block page_content %}
<div class="row-fluid">
    <div class="span3">
        {% crispy form %}
    </div>
    <div class="span9" id="searchResults">
        {% for profile in object_list %}
            {% include "generic/_result.html" %}
        {% endfor %}
    </div>
</div>
{% include "_partials/_pagination.html" %}
{% endblock %}

{% block extra_js %}
{% endblock %}
