{% extends "_layouts/map.html" %}
{% load crispy_forms_tags %}

{% block home_nav_class %}active{% endblock %}

{% block page_header %}
    <h1>Search</h>
{% endblock %}

{% block page_content %}
<div class="row-fluid">
    <div class="span4">
        {% crispy form %}
    </div>
    <div class="span8" id="searchResults">
        <h1>Results</h1>
        {% if users %}
            {% for user in users %}
                {% if units == "mi" %}
                    <p>{{ user.user.first_name }} - {{ user.distance.mi }}</p>
                {% else %}
                    <p>{{ user.user.first_name }} - {{ user.distance.km }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
