{% extends "_layouts/base.html" %}

{% block page_title %}Welcome to {% endblock %}

{% block extra_css %}
    {% include "_partials/_map_includes.html" %}
{% endblock %}

{% block page_id %}home{% endblock %}

{% block page_header %}
<div id="map"></div>
{% endblock %}

{% block content_override %}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/"><span class="logo"></span><span class="text">DjangoPeople</span></a>
            <div class="span1 offset5">
                <a class="btn btn-inverse" href="#"><i class="icon-arrow-up icon-white"></i></a>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i> Twitter</a>
                <a href="#" class="btn"><i class="icon-user"></i> Github</a>
            </div>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block page_sidebar %}
sidebar
{% endblock %}

{% block page_content %}
content
{% endblock %}

{% block end_body_js %}
<script>
    var map = new L.Map("map", {
        center: new L.LatLng(21.505, -0.09),
        zoom: 3
    });

    var mapQuestUrl = "http://otile{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
        mapQuest = new L.TileLayer(mapQuestUrl, {
            maxZoom: 18,
            subdomains: "1234",
            attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">'
        }),
        openStreetMapUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        openStreetMap = new L.TileLayer(openStreetMapUrl, {
            maxZoom: 18,
            subdomains: "abc",
            attribution: 'Data, imagery and map information provided by <a href="http://mapquest.com">MapQuest</a>, <a href="http://www.openstreetmap.org">Open Street Map</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.'
        }),
        cloudmadeUrl = "http://{s}.tile.cloudmade.com/{{ cloudmade_key }}/997/256/{z}/{x}/{y}.png",
        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18});

    map.addLayer(openStreetMap).locateAndSetView(4);

    map.on("locationfound", function(e) {
        var hi_there = new L.Marker(e.latlng),
            greeting = "<h3>Hi There!</h3><p>If you're not already a member, please sign up!</p>";

        map.addLayer(hi_there);
        hi_there.bindPopup(greeting).openPopup();
    });

    $(".navbar a.btn").on("click", function(e) {
        e.preventDefault();
        var map_height = $("#map").height();
        if ($("#map").css("margin-top") === "0px") {
            $("#map").css("margin-top", (map_height - 50) * -1);
            $(".navbar i.icon-arrow-up").removeClass("icon-arrow-up").addClass("icon-arrow-down");
            console.log(map);
        } else {
            $("#map").css("margin-top", 0);
            $(".navbar i.icon-arrow-down").removeClass("icon-arrow-down").addClass("icon-arrow-up");
        }
    });
</script>
{% endblock %}
