{% extends "_layouts/base.html" %}

{% block page_title %}Welcome to {% endblock %}

{% block extra_css %}
    {% include "_partials/_map_includes.html" %}
{% endblock %}

{% block page_id %}home{% endblock %}

{% block page_header %}
<div id="map"></div>
{% endblock %}

{% block page_sidebar %}
sidebar
{% endblock %}

{% block page_content %}
content
{% endblock %}

{% block end_body_js %}
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>
<script>
    var map = new L.Map("map", {
        center: new L.LatLng(21.505, -0.09),
        zoom: 3
    });

    var stamenLayer = new L.StamenTileLayer("watercolor", {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
        });

    map.addLayer(stamenLayer).locateAndSetView(4);

    map.on("locationfound", function(e) {
        var hi_there = new L.Marker(e.latlng),
            greeting = "<h3>Hi There!</h3><p>If you're not already a member, please sign up!</p>";

        map.addLayer(hi_there);
        hi_there.bindPopup(greeting).openPopup();
    });
</script>
{% endblock %}
