<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page_title %}{% endblock %}DjangoPeople.me</title>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dp.css">
    {% block extra_css %}{% endblock %}

    <script src="{{ STATIC_URL }}js/modernizr.min.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body class="{% block body_class %}standard-page{% endblock %}">
    <!-- container -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">DjangoPeople.me</a>
                <nav class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <div class="pull-right">
                    {% if not user.is_authenticated %}
                        <p class="navbar-label pull-left">Sign in with: </p>
                        <ul class="nav pull-right">
                            <li><a href="{% url socialauth_begin "twitter" %}"><i class="icon-twitter-sign"></i> Twitter</a></li>
                            <li><a href="{% url socialauth_begin "github" %}"><i class="icon-github-sign"></i> Github</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav pull-right">
                            <li class="dropdown" id="profileMenu">
                                <a class="drodown-toggle" data-toggle="dropdown" href="#profileMenu">
                                    {{ user.get_full_name }} <i class="icon-chevron-down"></i></a>

                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="icon-cogs"></i> Edit Profile &amp; Options</a></li>
                                    <li><a href="#"><i class="icon-signout"></i> Sign out</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% block pre_content %}{% endblock %}
    <div class="container-fluid">
        {% block page_container %}{% endblock %}

        <footer>
            <p>&copy; Brack3t.</p>
        </footer>
    </div>
    <!-- container -->

    <!-- Included JS Files -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
