{% extends "_layouts/base.html" %}

{% block extra_css %}
    {% include "_partials/_map_includes.html" %}
{% endblock %}

{% block body_class %}map-page{% endblock %}

{% block pre_content %}
    <div id="mapContainer">
        <div id="map">Nothing here</div>
    </div>
{% endblock %}

{% block page_container %}
<div class="page-header">
    {% block page_header %}
    <h1>Hello, world!</h1>
    {% endblock %}
</div>
    {% block page_content %}
    <div class="row-fluid">
        <div class="span4">
            <h2>Heading</h2>
            <p>something</p>
        </div>
        <div class="span4">
            <h2>Heading</h2>
            <p>something</p>
        </div>
        <div class="span4">
            <h2>Heading</h2>
            <p>something</p>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block map_js %}
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>
<script>
    var map = new L.Map("map", {
        center: new L.LatLng(21.505, -0.09),
        zoom: 3
    });

    var stamenLayer = new L.StamenTileLayer("watercolor", {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
        });
</script>
{% endblock %}

{% block extra_js %}
    {% include "_partials/_map.html" %}
{% endblock %}
